.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  width: 100%;
  margin: auto;
}

.col-sm{
  width: 8%;
  float: left;

}

.col-sm.title {
  width: 75%
}
.row {
  border-bottom: 1px solid gray;
  float: left;
  width: 100%;
}
.clear{
  float: none;
  clear: both;
}
.container:nth-child(even) {background: #f6f6ef}
.container:nth-child(odd) {background: #e2e2d1}

@media (min-width: 768px) {
  #root {
    width: 80%;
    margin: auto;
  }

  .col-sm {
    padding-left: 2px;
  }
}

